body{
    margin: 40px;
    font-size: 170%;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}
.header{
    grid-column: 1/6;
}
.header h1{
    text-align: center;
}
.article{
    grid-column: 1/6;
}
.top{
    grid-column: 1/5;
}
.aside{
    grid-column: 5/6;
    grid-row: 2/4;
}
.footer{
    grid-column: 1/6;
}